body {
  background-color: #fff;
  line-height: 1.5;
}

.foooter-a {
  color: green;
}
.foooter-a {
  color: orange;
}

.f-p {
  color: orange;
  text-shadow: 2px 2px 5px #212121;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
